@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="PerformAddition">Click me</button>

@code {
    private int currentCount = 12;
    double a = 9;
    double b = 1;

    private void PerformAddition() => currentCount = (int)Calculator.Add(currentCount, b).Value;
    private void IncrementCount()
    {
        currentCount += 2;
    }

}